* {
    margin: 0;
    padding: 0;
}

body{
    background: #000  no-repeat;
    background-size: cover;
    /* url(images/background.gif) */
}

.home_page {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.home_content {
    position: absolute;
    top: 225px;
    left: 425px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: cyan;
}

span {
    color: #fff;
    animation: first_letter 2s ease-in-out  infinite ;
    display: inline-block;
}

@keyframes first_letter {
   
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}








